body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 1rem 5rem
}

.input-container p{
   text-align: center;
   padding: 0 2rem;
}

.guage-outer{
    width: 220px;
    height:110px;
   position: relative;
    background-color: purple;
}

.guage-ring{
    width: 220px;
    height:220px;
    border: 15px solid #ccc;
    border-radius: 50%;
    position: relative;
    margin: 2rem auto;
    background: conic-gradient( #101986 0deg 72deg,/* Underweight */
     #4caf50 72deg 144deg,/* Normal weight */
     #ffeb3b 144deg 180deg,/* Overweight */
     #f44336 180deg 360deg/* Obese */
    );
}

.guage-outer{
height: 110px;
overflow: hidden;
}

/* Clip to semi-circle */


